@import 'scss/commons/var';

.our-business {
  @include height();
  @include paddingInline();
  position: relative;
  width: 100%;
  margin-top: 6rem;

  .our-business-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h2 {
      margin-bottom: 4rem;
    }

    @include desktop {
      @include webMargin();

      h2 {
        margin-bottom: 6rem;
      }
    }

    article {
      height: 100%;

      @include desktop {
        @include flexAlignCenter();
        gap: 0 8rem;

        .print {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          flex: 1;

          header {
            display: flex;
            height: 20rem;
            padding-top: 4.2rem;

            &>span {
              @include mediumFont();
              margin-right: 1rem;
              color: $opacity-white-60;
            }

            p {
              strong {
                margin-right: 0.6rem;
              }
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 2;
          height: 100%;

          li {
            justify-content: flex-start;
            padding-top: 4rem;

            &>p {
              @include webFont();
              padding-left: 17%;
            }
          }
        }
      }

      ul {
        @include desktop {
          box-shadow: $left-bs;
        }

        li {
          display: flex;
          flex-direction: column;
          min-height: 20rem;

          @include mobile {
            justify-content: center;

            &:nth-child(2) {
              box-shadow: $left-bs;
            }
          }
          

          header {
            @include flexAlignCenter();
            position: relative;
            margin-bottom: 2rem;

            span {
              position: absolute;
              left: 5rem;
              font-weight: bold;
            }

            p {
              margin-left: 1.8rem;
              font-size: 1.8rem;
            }
          }

          @include mobile {
            &>p {
              @include mobFont();
              padding-inline: 5%;
            }
          }
        }
      }
    }
  }
}