@import 'scss/commons/var';

.our-business {
  @include height();
  position: relative;
  width: 100%;

  .our-business-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include desktop {
      @include webMargin();
    }

    article {
      height: 100%;

      @include desktop {
        @include flexAlignCenter();

        .print {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          flex: 1;

          h2 {
            margin-bottom: 6rem;
          }

          &>div {
            padding-top: 1rem;

            header {
              display: flex;
              min-height: 20rem;

              &:nth-child(1) {
                margin: 1rem 0 0;
              }

              &:nth-child(2) {
                margin: 1.5rem 0 0;
              }

              &>span {
                @include mediumFont();
                margin-right: 1rem;
                color: $opacity-white-60;
              }

              p {
                strong {
                  margin-right: 0.6rem;
                }
              }
            }
          }
        }

        &>ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 2;
          height: 100%;

          li {
            &>p {
              @include webFont();
              padding-left: 17%;
            }
          }
        }
      }

      ul {
        @include desktop {
          box-shadow: $left-bs;
        }

        li {
          display: flex;
          justify-content: center;
          flex-direction: column;
          min-height: 20rem;

          @include mobile {
            &:nth-child(2) {
              box-shadow: $left-bs;
            }
          }
          

          header {
            @include flexAlignCenter();
            position: relative;
            margin-bottom: 2rem;

            span {
              position: absolute;
              left: 5rem;
              font-weight: bold;
            }

            p {
              margin-left: 1.8rem;
              font-size: 1.8rem;
            }
          }

          @include mobile {
            &>p {
              @include mobFont();
              padding-left: 5%;
            }
          }
        }
      }
    }
  }
}