@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

// font sizes
$web-base-fs: 1.6rem;
$mob-base-fs: 1.4rem;

$small-fs: 1.2rem;
$medium-fs: 2rem;
$large-fs: 2.4rem;
$big-fs: 3.2rem;

// colors
$point-pink-color: #f27eaa;
$point-purple-color: #b99dee;
$point-blue-color: #97e1e7;

$base-black-color: #282a36;
$base-font-color: #fff;

$opacity-white-10: rgba(255, 255, 255, 0.1);
$opacity-white-20: rgba(255, 255, 255, 0.2);
$opacity-white-30: rgba(255, 255, 255, 0.3);
$opacity-white-40: rgba(255, 255, 255, 0.4);
$opacity-white-60: rgba(255, 255, 255, 0.6);
$opacity-white-80: rgba(255, 255, 255, 0.8);

// font weight
$normal-fw: 400;
$medium-fw: 500;
$bold-fw: 700;
$thick-fw: 900;

// font family
$normal-ff: 'Handon3gyeopsal300g', sans-serif;
$bold-ff: 'Handon3gyeopsal600g', sans-serif;

// Breakpoints
$breakpoint-mobile: 1023px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// box shadows
$left-bs: -2rem 0px 3rem rgba(0, 0, 0, 0.25);
$left-right-bs: -2rem 2px 3rem rgba(0, 0, 0, 0.25);

// fonts styling
@mixin gradientFont {
  // grdient color
  background-image: linear-gradient(
    to right,
    $point-blue-color,
    $point-purple-color,
    $point-pink-color
  );
  background-size: 100%;
  background-repeat: repeat;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  background-position: center center;
  animation: 2s ease-in-out infinite;
}

@mixin grientFontAnimate {
  background: linear-gradient(
    to right,
    $point-blue-color 0%,
    $point-purple-color 50%,
    $point-pink-color 100%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;

  animation: rainbow 2s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}

@mixin smallFont {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

@mixin mobFont {
  font-size: 1.4rem;
  line-height: 2rem;
}

@mixin webFont {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@mixin mediumFont {
  font-size: 2rem;
  line-height: 2.4rem;
}

@mixin largeFont {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

@mixin bigFont {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

@mixin headerFont {
  font-size: 2.8rem;
  line-height: 3.2rem;

  @include desktop {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}

// buttons
@mixin button {
  @include alignCenter();
  padding: 1.2rem 3rem;
  border-radius: 6rem;
  font-family: $bold-ff;
}

// mixin
// aligns
@mixin paddingInline {
  padding-inline: 5%;

  @include desktop {
    padding-inline: 10%;
  }
}

@mixin webMargin {
  max-width: 128rem;
  margin: 0 auto;
}

@mixin grid($column) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
}

@mixin imageAlignCenter() {
  position: relative;
  overflow: hidden;

  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexStartBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin height {
  min-height: calc(100vh - 6rem);

  @include desktop {
    min-height: calc(100vh - 8rem);
  }
}

// mediaquery styling
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
