@import 'scss/commons/var';

.work-with-us {
  position: relative;
  padding-top: 3rem;
  @include paddingInline();

  @include desktop {
    padding-top: 6rem;
  }

  .work-with-us-wrap {
    @include webMargin();

    article {

      em {
        font-weight: bold;
        color: $point-pink-color;
      }

      b {
        color: $point-blue-color;
      }

      main {
        @include height();
        padding: 0 5%;

        h2 {
          margin-bottom: 8rem;
        }

        header {
          @include webFont();
          margin-bottom: 6rem;
          text-align: center;

          @include desktop {
            @include mediumFont();
            margin-bottom: 8rem;
          }
        }

        ul {
          @include webMargin();
          position: relative;
          min-height: 30rem;

          @include desktop {
            margin-top: 3rem;
          }

          &::before {
            position: absolute;
            content: '<';
            top: 0;
            left: -5%;
            color: $point-pink-color;
            font-size: 12.8rem;
            opacity: 0.3;
            font-weight: bold;
            font-family: $bold-ff;
          }

          &::after {
            position: absolute;
            content: '/>';
            bottom: 0;
            right: -5%;
            color: $point-pink-color;
            font-size: 12.8rem;
            opacity: 0.3;
            font-weight: bold;
            font-family: $bold-ff;
          }

          li {
            position: absolute;
            opacity: 1;
            display: flex;
            flex-direction: column;
            gap: 4rem 0;

            width: 100%;
            text-align: center;
            transition: all 0.3s;

            &.active {
              opacity: 1;
            }

            p {
              span {
                color: $point-purple-color;
                font-weight: bold;
              }
            }
          }
        }
      }

      .boards {
        @include height();
        padding-top: 3rem;

        .noti {
          @include webFont();
          margin-bottom: 4rem;
          padding: 0 5%;
          text-align: center;

          @include desktop {
            font-size: 1.8rem;
            margin-bottom: 8rem;
          }

          p {
            margin: 2rem 0;
            vertical-align: middle;

            span {
              @include grientFontAnimate();
              cursor: pointer;
              color: rgba(0, 0, 0, 0);
            }
          }
        }

        ul {
          li {
            .accordionSection {
              position: relative;
              border-top: 1px solid $opacity-white-10;
              border-bottom: 1px solid $opacity-white-10;
              transition: all 0.3s;

              &.active {
                border: none;
                box-shadow: $left-right-bs;
                z-index: 20;
              }

              .accordion {
                width: 100%;
                background-color: transparent;

                .accordionTitle {
                  @include flexCenterBetween();
                  width: 100%;
                  padding: 3rem 2rem;
                  color: white;
                  cursor: pointer;
                }
              }

              .accordionContent {
                overflow: hidden;
                transition: max-height .3s ease;

                .accordionText {
                  padding: 0 2rem 2rem 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}